@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #edf0f1;
}

a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
}

.nav_links {
    list-style: none;
}

.nav_links a{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links a{
    transition: all 0.3s ease;
}

.nav_links a:hover{
    color: #8f72ca;
}

button {
    padding: 9px 25px;
    background-color: #9c83ce;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #7452b8;
}


.popup{
    background: rgba(241, 241, 241, 0.445);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-content{
    height: 250px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

input{
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
}

/* .popup-content .loginBtn{
    padding: 9px 25px;
    background-color: #9c83ce;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;    
} */

.close{
    position: absolute;
    top: -15px;
    right: -15px;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
 
