*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #edf0f1;
}
main{
    padding: 10px;
    height: 80vh;
}

form{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px gray;
    text-align: center;
}

 input{
    margin-bottom: 5px;
    font-size: 16px;
    border-radius: 10px;    
}

input[type="text"] {
    padding: 5px;
    outline: none;
    width: 90%;
} 

input[type="submit"]{
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    padding: 9px 25px;
    width: 50%;
    background-color: #9c83ce;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;}


input[type="submit"]:hover{
    background-color: #7452b8; 
}


.list{
    padding: 10px;
    margin-top: 10px;
    height: 60%;
    background-color: #9380b9;    
}

ul{
    list-style: none;
    overflow: scroll;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

li {
    border-bottom: 1px solid #9c83ce;
    margin-top: 5px;
}

button {
    padding: 9px 25px;
    background-color: #9c83ce;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #7452b8;
}

